.cuadro{
    width: 300px;
    height: 300px;
    background: rgb(170, 181,18);  
    width: 100px;
    height: 100px;
    background: rgb(192, 102, 28);
    margin: 10px; 
    border-radius: 10px;

}